/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
    }
.flex{
        display: flex;
    }
body{
    max-width: 80%;
    height: 100%;
    padding: 20px 4%;
    margin: 0 auto;
    background-color: #134;

}
.container{
    text-align: center;
}
.container img{
    border-radius: 50%;
}
h1{
    font-size: 25px;
    color: #dbdbdb;
    text-align: center;
}
h2{
    padding: 5px;
    font-size: 20px;
    color: #dbdbdb;
    text-align: center;
}
h3{
    font-size: 15px;
    text-align: center;
    color: #dbdbdb;
}
p{
    padding: 5px 38%;
    font-size: 15px;
    color: #dbdbdb;
    text-align: justify center;
    text-transform:inherit;
}
p span{
    color: #ff0763;
}
.REDES{
    padding: 40px 10%;
    text-align: center;
}
.REDES button{
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 500px;
    margin: 0 5px;
    background-color: #ff0763;
    border: 0;
    border-radius: 60px;
    cursor: pointer;
    color: white;  
    transition: 0.2s;
}
button:hover{
    box-shadow: 0 0 20px #ff0763;
}
i{
    font-size: 35px;
    color: #dbdbdb;
}
Form{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    padding: 20px 4%;
    border-radius: 20%;
    background: #134;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.form-group {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}  

label{
    align-items: center;
    text-align: justify;
    flex-direction: column;
    gap: 10px;
    color: #dbdbdb;
}
input{
    padding: 2px;
    flex-direction: column;
    font-size: 15px;
}
.pointer{
    cursor: pointer;
}
.Voltar{
    padding: 50px;
    text-align: center;
}
textarea{
    padding: 20px;
    width: 300px;
}
#Enviar{
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 50px;
    margin: 0 ;
    background-color: #ff0763;
    border: 0;
    border-radius: 80px;
    cursor: pointer;
    color: white;  
    transition: 0.2s;
}
@media (max-width: 999px) {
    /* Adjust for smaller screens */

h1{
    text-align: center;
    padding: 0px 4%;   
    font-size: 20px;
}        
p{
    text-align: center;
    padding: 0 5%;
}
.REDES button{
    margin-bottom: 8px;
}
form {
    padding: 10px; 
    height: 80%;
    width: 90%;
    border-radius: 5%;
}
h1, h2, h3 {
    font-size: 1.2em;
}
textarea{
    width: 200px;
}
label, input, textarea {
    font-size: 14px;
}
}