/* ESTILO GERAL */
*{
margin: 0;
padding: 0%;
box-sizing: border-box ; 
font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal; 
}

body{
    background-color: #134;
    height: 100;
}

.interface{
    max-width: 1270px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
a{
    text-decoration: none;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500px;
    background-color: #ff0763;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: white;  
    transition: 0.2s; 
    text-decoration: n;
}
button:hover{
    box-shadow:0px 0px 8px #ff0763;
    transform: scale(1.05);
}
h1{
    text-align: center;
}
h2.title{
    color:#dbdbdb;
    font-size: 34px;
    text-align: center;
}
h2.title span{
    color: #ff0763;
}
.txt-animado{
    justify-content: flex-start;
    font-size: 60px;
    font-weight: 500;
}
.txt-animado span{
    position: relative;
}

.txt-animado span::before{
    content: "";
    color: #ff0763;
    animation: palavras 2s infinite;
}

@keyframes palavras {
    0%,100%{content: "Desenvolvedor Front-end.";
} 
}
@keyframes cursor{
    0%{
        border-left: 2px solid #134
    }
}
@keyframes digita{
    10%, 15%, 30%, 35%, 50%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 45%, 60%, 65%, 80%, 85%{
        width:calc(100% + 15px);;
    }
}

.txt-animado span::after{
    content: "";
    position: absolute;
    height: 50%;
    border-left: 2px solid #ff0763;
    right: -10px;
    opacity: 1;
    animation: cursor .6s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 15px);
    background-color: #134;
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

header a{
    color:#dbdbdb;
    text-decoration: none;
    display:inline-block;
    transition:.2s;
}

header nav.menu-desktop a:hover{
    color: white;
    transform: scale(1.05);

}

header nav ul{
    list-style-type: none;
}
header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 100px;
    justify-content: center;
}

/* ESTILO-MOBILE */
.btn-abrir i{
    color: #ff0763;
    font-size: 35px;
}
.btn-abrir i{
    display: none;
}
.menu-mobile{
    background-color: #134;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}
.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .menu-overlay{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 6%;
}
.menu-mobile .btn-fechar i{
    color: #ff0763;
    font-size: 35px;
}

.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    color: #dbdbdb;
    font-size: 22px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}
.menu-mobile nav ul li a:hover{
    background-color: #ff0763;
    color: #134;
}
.menu-overlay{
    background-color:#0000005e;
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    display: none;
}
/* TOPO DO SITE */

section.topo-site{
    padding: 40px 4%;
}
section.topo-site .flex{
    align-items: center;
    justify-content: center;
}
.topo-site h1{
    padding: 0 4%;
    color: #dbdbdb;
    font-size: 42px ;
    line-height: 45px;
    text-align: center;
}
.topo-site button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500px;
    background-color: #ff0763;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: white;  
    transition: 0.2s; 
    margin: 0 40px;
    
}

.topo-site, .txt-topo-site h1 span{
    color: #ff0763;
    font-size: 50px;
}
.topo-site, .txt-topo-site p{
    font-size: 30px;
    color:#dbdbdb;
    margin: 35px;
    text-align: center, justify;
}

.topo-site, .txt-topo-site p span{
    color: #ff0763;
}

/* /TOPO DO SITE */

/* Estilo especialidades */
    section.Especialidades{
        padding: 45px 4%;
    }
    section.Especialidades .flex{
        gap: 60px;
    }
    
.Especialidades-box{
        max-width: 30%;
        color:#dbdbdb;
        padding: 40px 4%;
        border-radius: 10%;
        margin-top: 25px;
        transition: .2s;
        justify-content: center;
    }
    .Especialidades-box:hover{
        transform: scale(1.05);
        box-shadow: 0 0 25px #ff0763;
    }

    .Especialidades, .Especialidades-box h3{
        font-size: 30px;
        margin: 15px 0px;
    }
    .Especialidades, .Especialidades-box p{
        font-size: 20px;
        margin: 15px 0px;
        color:#dbdbdb ;
    }

/* /Estilo especialidades */

@font-face {
    font-family: "Dinish Condensed";
    src:
      url("https://db.onlinewebfonts.com/t/29c173305b69e7ccc02f0f0106924705.woff2") format("woff2");
  }
  
  body {
    background: #134;
  }
  
  .container {
    display: flex;
    gap: 0.5rem;
    padding: 2rem;
    justify-content: center;
    &.light {
      background: #dbdbdb;
    }
  }
  
  logo-icon {
    --size: 128px;
    --default-font: "Neutra Text", "Dinish Condensed", sans-serif;
    /* --default-font: "Dinish Condensed", sans-serif; */
    
    display: grid;
    place-items: end;
    padding: calc(0.05 * var(--size)) calc(0.1 * var(--size));
    box-sizing: border-box;
    width: var(--size);
    aspect-ratio: 1;
    
    font-size: calc(0.3 * var(--size));
    font-weight: 700;
    
    background: var(--bgcolor);
    color: #ffffff;
    
    &[modern] {
      box-shadow: -3px -3px 10px #0005 inset;
      border-radius: 5px / 5px;
    }
    
    &[html] { --bgcolor: #dc6e3d }
    &[css] { 
      --bgcolor: rebeccapurple;
      --r: calc(0.2 * var(--size)); 
      border-radius: 0 var(--r) var(--r) var(--r);
    }
    &[js] { 
      --bgcolor: #f8dc3e; 
      color: #383737;
    }
    &[ts] { --bgcolor: #3178c6 }
    &[wa] { 
      --bgcolor: #5f52df;
      mask-image: radial-gradient(calc(0.35 * var(--size)) at 50% 0, transparent 50%, black 52%);
    }
  }

/* <!--SOBRE--> */
section.Sobre
{
    padding: 15% 4%;
}
section.Sobre, .flex{
    align-items: center;
    gap: 6px;
}

.sobre, .txt-sobre{
    color:#dbdbdb;
}
.sobre, .txt-sobre h2{
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 25px;
}
.sobre, .txt-sobre h2 span{
    color: #ff0763;
    display: block;
    font-size: 40px;
}
.sobre, .txt-sobre p{
    font-size: 20px;
    margin: 15px 0;
    text-align: justify;
}
.sobre, .txt-sobre .btn-redes button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #ff0763;
    font-size: 25px;
    color: #134;
    align-items:last baseline;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}
/* <!--/SOBRE--> */

.topo{
    height: 60px;
    width: 60px;
    position: fixed;
    border-radius: 50%;
    bottom: 20px;
    right: 5px;
    display: flex;
}
.rodape{
    padding: 20px;
    text-align: center;
    color: #dbdbdb;
}

#cookie-banner {
    position: fixed;
    bottom: -100px; /* Inicialmente fora da tela */
    left: 0;
    right: 0;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    transition: bottom 0.5s ease-in-out;
  }
  
.cookieb{
    width: 80%;
    background-color: #dbdbdb;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
    display: none;
}
.cookieb.mostrar{
    display: block;
}
.cookieb .cookies{
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 20px;
    color: #134;
}
.cookieb .ck-btn{
    margin-left: 30px;
}
.cookieb .ck-btn button{
    background-color: #ff0763;
    color:#dbdbdb ;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 20px;
    border: none;
    outline: none;
    transition: .2s;
    cursor: pointer;
}
.cookieb .ck-btn button:hover{
    transform: scale(0.9);
}


@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
@media screen and (max-width: 750px){
    /* CLASSE GERAL */
    .flex{
        flex-direction: column;
        padding: 0 4px;
    }
    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }
    .btn-abrir i{
        display: block;
    }
    /* TOPO SITE */
    section.topo-site{
        padding: 0 8%;
        margin-top: 0%;
    }
    .topo-site h1{
        align-items: center;
    }
    .topo-site, .txt-topo-site p{
        padding: 0;
        justify-content: flex-start;
        font-size: 17px;
        margin: 20px;
        margin-top: 5%;
        justify-content: center;
        text-align: justify;
    }
    /*especialidades*/
    section.Especialidades{
        display: flex;

    }
    .Especialidades-box{
        color:#dbdbdb;
        border-radius: 10%;
        margin-top: 25px;
        transition: .2s;
        text-align: justify;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .Especialidades-box:hover{
        transform: scale(1.05);
        box-shadow: 0 0 25px #ff0763;
    }
    .img{
        width:100%;
        margin: 0 auto;
        height: 460px;
        background-color: #ff0763;
        box-shadow: 0 0 5px #ff0763;
        background-size: cover;
        background-position: 100% 0;
        border-radius: 50px;
        transition: 8s;  
        position: relative;
    }
    .txt-animado{
        justify-content: flex-start;
        font-size: 60px;
        font-weight: 500;
    }
    .txt-animado span{
        position: relative;
    }
    
    .txt-animado span::before{
        content: "";
        color: #ff0763;
        animation: palavras 2s infinite;
    }
    .btn-redes{
        text-align: center;
    }
    
    @keyframes palavras {
        0%,100%{content: "Desenvolvedor Front-end.";
    } 
    }
    @keyframes cursor{
        0%{
            border-left: 2px solid #134
        }
    }
    @keyframes digita{
        10%, 15%, 30%, 35%, 50%, 70%, 75%, 90%, 95%{
            width: 0;
        }
        5%, 20%, 25%, 45%, 60%, 65%, 80%, 85%{
            width:calc(100% + 15px);;
        }
    }
    #cookie-banner {
        position: fixed;
        bottom: -100px; /* Inicialmente fora da tela */
        left: 0;
        right: 0;
        background-color: #f0f0f0;
        color: #333;
        padding: 20px;
        text-align: center;
        z-index: 9999;
        transition: bottom 0.5s ease-in-out;
      }
      
    .cookieb{
        width: 80%;
        background-color: #dbdbdb;
        position: fixed;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%);
        border-radius: 15px;
        display: none;
    }
    .cookieb.mostrar{
        display: block;
    }
    .cookieb .cookies{
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 20px;
        color: #134;
    }
    .cookieb .ck-btn{
        margin-left: 10px;
    }
    .cookieb .ck-btn button{
        background-color: #ff0763;
        color:#dbdbdb ;
        font-weight: 500;
        font-size: 15px;
        padding: 5px 20px;
        margin-top: 20%;
        border: none;
        outline: none;
        transition: .2s;
        cursor: pointer;
    }
    .cookieb .ck-btn button:hover{
        transform: scale(0.9);
    }
}
