/* ESTILO GERAL */
*{
margin: 0;
padding: 0%;
font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal; 
}
.flex{
    display: flex;
}
body{
width: 100%;
height: 100vh;
padding: 200px 4%;
margin: 0;
background-color: #134;
}
.container{
    text-align: center;
}
.container img{
    border-radius: 50%;
}
h1{
    font-size: 25px;
    color: #dbdbdb;
    text-align: center;
}
h2{
    padding: 5px;
    font-size: 20px;
    color: #dbdbdb;
    text-align: center;
}
.Voltar button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500px;
    background-color: #ff0763;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: white;  
    transition: 0.2s;}

button:hover{
    box-shadow:0px 0px 8px #ff0763;
    transform: scale(1.05);
}

.Voltar {
text-align: center; /* Centraliza o conteúdo dentro da seção */
margin: 0 auto; /* Centraliza a seção na página */
}

